@using LuanNiao.Blazor.Component.Antd.Layout
@using LuanNiao.Blazor.Component.Antd.Menu
@using LuanNiao.Blazor.Component.Antd
@using LuanNiao.Blazor.Component.Antd.Icons
@using LuanNiao.Blazor.Component.Antd.Tooltip
@using LuanNiao.Blazor.Component.Antd.Slider
@using LuanNiao.Blazor.Component.Antd.Grid

<MenuItem Key="home">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>Home</span>
        </Title>
        <ChildContent>
            <HomeFilled />
        </ChildContent>
    </LNTooltip>
</MenuItem>
<MenuItem Key="button">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>Button</span>
        </Title>
        <ChildContent>
            <BoldOutlined />
        </ChildContent>
    </LNTooltip>
</MenuItem>
<MenuItem Key="grid">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>Grid</span>
        </Title>
        <ChildContent>
            <BorderInnerOutlined />
        </ChildContent>
    </LNTooltip>
</MenuItem>
<MenuItem Key="icons">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>Icons</span>
        </Title>
        <ChildContent>
            <SmileFilled />
        </ChildContent>
    </LNTooltip>
</MenuItem>
<MenuItem Key="inputnumber">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>InputNumber</span>
        </Title>
        <ChildContent>
            <RiseOutlined />
        </ChildContent>
    </LNTooltip>
</MenuItem>

<MenuItem Key="layout">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>layout</span>
        </Title>
        <ChildContent>
            <RiseOutlined />
        </ChildContent>
    </LNTooltip>
</MenuItem>


<MenuItem Key="menu">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>Menu</span>
        </Title>
        <ChildContent>
            <RiseOutlined />
        </ChildContent>
    </LNTooltip>
</MenuItem>

<MenuItem Key="radio">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>Radio</span>
        </Title>
        <ChildContent>
            <RiseOutlined />
        </ChildContent>
    </LNTooltip>
</MenuItem>

<MenuItem Key="slider">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>Slider</span>
        </Title>
        <ChildContent>
            <RiseOutlined />
        </ChildContent>
    </LNTooltip>
</MenuItem>


<MenuItem Key="tooltip">
    <LNTooltip OverlayStyle="margin-left:35px" Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Right">
        <Title>
            <span>Tooltip</span>
        </Title>
        <ChildContent>
            <RiseOutlined />
        </ChildContent>
    </LNTooltip>
</MenuItem>