@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@using Luanniao.Club.Shared

@using LuanNiao.Blazor.Component.Antd.Layout
@using LuanNiao.Blazor.Component.Antd.Menu


<LNLayout>
    <Sider CStyle="overflow:auto;height:100%;position:fixed;left:0px;" @ref="_siderInstance">
        <div style="height: 32px; background: rgba(255, 255, 255, 0.2); margin: 16px;" />
        <InlineMenu Theme="MenuBase.MenuTheme.Dark" DefaultSelectedKeys="@(new string[]{"home"})" OnSelect="MenuSelected">
            <MenuItems SiderInstance="@_siderInstance"></MenuItems>
        </InlineMenu>
    </Sider>
    <LNLayout CStyle="@_layoutStyle" ClassName="site-layout" @ref="_rightContent">
        <MainHeader @ref="_header" SiderInstance="@_siderInstance"></MainHeader>
        <Content CStyle="margin:24px 16px 0px; overflow:initial;">
            <div class="site-layout-background" style="padding: 24px;text-align:center;min-height:500px;">
                @Body
            </div>
        </Content>
        <Footer CStyle="text-align:center;">Luanniao Blazor ©2020 Created by  Luanniao Blazor team <a href="http://www.beian.miit.gov.cn">陕ICP备15012326号</a> </Footer>
    </LNLayout>

</LNLayout>










@code{

    private Sider _siderInstance;
    private string _layoutStyle = "margin-left:200px;";
    private LNLayout _rightContent = null;
    private Dictionary<string, string> _pageInfo = new Dictionary<string, string>() {
        { "home","/"},
        { "button","/button"},
        { "icons","/icons"},

    };




    private MainHeader _header = null;

    public async void MenuSelected(MenuBase menu, List<string> keys)
    {
        if (keys.Count == 0 || !_pageInfo.ContainsKey(keys[0]) || _pageInfo[keys[0]] == null)
        {
            return;
        } 
        NavigationManager.NavigateTo(_pageInfo[keys[0]]);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            LuanNiao.Blazor.Core.Translater.CultureChanged += (info) =>
            {
                this.StateHasChanged();
            };
            _header.CollapsedStatusChange += () =>
            {
                _rightContent.StyleHelper.RemoveCustomStyle("margin-left");
                _layoutStyle = _siderInstance.Collapsed ? "margin-left:80px;" : "margin-left:200px;";
                this.StateHasChanged();
            };
        }
    }



}
<style>
    .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }

    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .lnsider {
        overflow-x: hidden !important;
    }

        .lnsider::-webkit-scrollbar {
            width: 9px;
            height: 9px;
        }


        .lnsider::-webkit-scrollbar-track {
            width: 6px;
            background-color: #0d1b20;
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
        }


        .lnsider::-webkit-scrollbar-thumb {
            background-color: #606d71;
            background-clip: padding-box;
            min-height: 28px;
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
        }

            .lnsider::-webkit-scrollbar-thumb:hover {
                background-color: #5a7268;
            }
</style>
