


@using LuanNiao.Blazor.Component.Antd.Layout
@using LuanNiao.Blazor.Component.Antd.Menu
@using LuanNiao.Blazor.Component.Antd
@using LuanNiao.Blazor.Component.Antd.Icons
@using LuanNiao.Blazor.Component.Antd.Tooltip
@using LuanNiao.Blazor.Component.Antd.Slider
@using LuanNiao.Blazor.Component.Antd.Grid

<MenuItem Key="home">
    <HomeOutlined />
    <span>Home</span>
</MenuItem>
<MenuItem Key="button">
    <BoldOutlined />
    <span>Button</span>
</MenuItem>
<MenuItem Key="grid">
    <BorderInnerOutlined />
    <span>Grid</span>
</MenuItem>
<MenuItem Key="icons">
    <SmileFilled />
    <span>Icons</span>
</MenuItem>
<MenuItem Key="inputnumber">
    <RiseOutlined />
    <span>InputNumber</span>
</MenuItem>

<MenuItem Key="layout">
    <RiseOutlined />
    <span>layout</span>
</MenuItem>


<MenuItem Key="menu">
    <RiseOutlined />
    <span>Menu</span>
</MenuItem>

<MenuItem Key="radio">
    <RiseOutlined />
    <span>Radio</span>
</MenuItem>

<MenuItem Key="slider">
    <RiseOutlined />
    <span>Slider</span>
</MenuItem>


<MenuItem Key="tooltip">
    <RiseOutlined />
    <span>Tooltip</span>
</MenuItem>

