@layout MainLayout
@page "/card"
@using LuanNiao.Blazor.Component.Antd.Card
@using LuanNiao.Blazor.Component.Antd.Grid
@using LuanNiao.Blazor.Component.Antd.Icons
@using  LuanNiao.Blazor.Component.Antd.Avatar;


<Row>
    <Col Span="24">
    <span></span>
    </Col>
    <Col Span="1">
    </Col>
    <LuanNiao.Blazor.Component.Antd.Grid.Col Span="6">
        <LNCard CStyle="width:300px">
            <Title>
                Default size card
            </Title>
            <Extra>
                <a href="#">More</a>
            </Extra>
            <ChildContent>
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </ChildContent>
            <Actions>
                <CardAction>
                    <LuanNiao.Blazor.Component.Antd.Button.LNButton OnClickCallback="@(async ( a)=>{ Console.WriteLine("asd"); })" />
                </CardAction>
                <CardAction>
                    <EditOutlined />
                </CardAction>
                <CardAction>
                    <EllipsisOutlined />
                </CardAction>
            </Actions>
        </LNCard>
    </LuanNiao.Blazor.Component.Antd.Grid.Col>

    <Col Span="1">

    </Col>

    <Col Span="1">
    </Col>
    <LuanNiao.Blazor.Component.Antd.Grid.Col Span="6">
        <LNCard CStyle="width:300px">
            <Title>
                Default size card
            </Title>
            <Cover>
                <img alt="example"
                     src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
            </Cover>
            <ChildContent>
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </ChildContent>
            <MetaTitle>Card title</MetaTitle>
            <MetaDescription>This is the description</MetaDescription>
            <MetaAvatar><LNAvatar Src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" /></MetaAvatar>
            <Actions>
                <CardAction>
                    <SettingOutlined />
                </CardAction>
                <CardAction>
                    <EditOutlined />
                </CardAction>
                <CardAction>
                    <EllipsisOutlined />
                </CardAction>
            </Actions>
        </LNCard>
    </LuanNiao.Blazor.Component.Antd.Grid.Col>

    <Col Span="1">

    </Col>


    <LuanNiao.Blazor.Component.Antd.Grid.Col Span="6">
        <LNCard CStyle="width:300px" Bordered="false" Hoverable="true">
            <Title>
                Default size card
            </Title>
            <ChildContent>
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </ChildContent>
        </LNCard>
    </LuanNiao.Blazor.Component.Antd.Grid.Col>



    <LuanNiao.Blazor.Component.Antd.Grid.Col Span="6">
        <LNCard CStyle="width:300px">

            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </LNCard>
    </LuanNiao.Blazor.Component.Antd.Grid.Col>
</Row>



@code{

}
