@layout MainLayout
@page "/"
@inject IJSRuntime _jsRT

<div id="test-editormd-view">
    <textarea style="display:none;" name="test-editormd-markdown-doc">      
    
# luanniao.club
This is  source code of luanniao.club, use luanniao.blazor.component.antd
 
            </textarea>
</div>


@code{


    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        _jsRT.InvokeVoidAsync("ShowMD", "test-editormd-view");
    }
}