@layout MainLayout
@page "/input"
@using LuanNiao.Blazor.Component.Antd.Input
@using LuanNiao.Blazor.Component.Antd.Icons
@using LuanNiao.Blazor.Component.Antd.Tooltip
@using LuanNiao.Blazor.Component.Antd
@using static LuanNiao.Blazor.Core.Translater
@inject LuanNiao.Blazor.Component.Antd.Message _message

<LNMessageStub></LNMessageStub>
<div>


    <br />
    <br />

    <Search Placeholder="input search text"
            OnSearch="OnSearch"
            UseBtnMod="true"
            CStyle="width: 200px" Disabled="true" />

    <br />
    <br />
    <br />
    <br />

    <Search Placeholder="input search text"
            OnSearch="OnSearch"
            CStyle="width: 200px" Disabled="true" />

    <br />
    <br />

    <br />
    <br />

    <Search Placeholder="input search text"
            OnSearch="OnSearch"
            UseBtnMod="true"
            CStyle="width: 200px" />

    <br />
    <br />
    <br />
    <br />

    <Search Placeholder="input search text"
            OnSearch="OnSearch"
            CStyle="width: 200px" />

    <br />
    <br />
    <Input placeholder="Basic usage" Disabled="true" />
    <br />
    <br />
    <br />
    <Input Size=" InputSize.Large" Placeholder="large size">
    <Prefix>
        <UserOutlined />
    </Prefix>
    </Input>

    <br />
    <br />
    <Input Placeholder="default size">
    <Prefix>
        <UserOutlined />
    </Prefix>
    </Input>
    <br />
    <br />

    <Input Size=" InputSize.Small" Placeholder="small size">
    <Prefix>
        <UserOutlined />
    </Prefix>
    </Input>


    <br />
    <br />


    <Input Placeholder="small size">
    <AddonAfter>
        <SettingOutlined />
    </AddonAfter>
    </Input>


    <br />
    <br />

    <Input Placeholder="small size">
    <AddonBefore>
        http://
    </AddonBefore>
    <AddonAfter>
        .com
    </AddonAfter>
    </Input>



    <br />
    <br />

    <Input Placeholder="small size">
    <AddonBefore>
        http://
    </AddonBefore>
    <Suffix>
        .com
    </Suffix>
    </Input>



    <br />
    <br />

    <Input Placeholder="small size">
    <AddonBefore>
        http://
    </AddonBefore>
    <Suffix>
        .com
    </Suffix>

    <AddonAfter>
        .com
    </AddonAfter>
    </Input>




    <br />
    <br />
    <Input DefaultValue="mysite">
    <Prefix>
        ￥
    </Prefix>
    <Suffix>
        RMB
    </Suffix>
    </Input>

    <br />
    <br />
    <Input Disabled="true" DefaultValue="mysite">
    <Prefix>
        ￥
    </Prefix>
    <Suffix>
        RMB
    </Suffix>
    </Input>



    <br />
    <br />

    <Input Placeholder="Enter your username">
    <Prefix>
        <UserOutlined className="site-form-item-icon" />
    </Prefix>
    <Suffix>
        <LNTooltip Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Left">
            <Title>
                Extra information
            </Title>
            <ChildContent>
                <InfoCircleOutlined CStyle="color: 'rgba(0,0,0,.45)" />
            </ChildContent>
        </LNTooltip>
    </Suffix>
    </Input>


    <br />
    <br />
    @Tr(e => e == "en" ? "Test input value and event" : "测试获取值以及对应的事件")
    <Input Placeholder="Enter your username" OnChange="OnChang" OnPressEnter="OnEnter">
    <Prefix>
        <UserOutlined className="site-form-item-icon" />
    </Prefix>
    <Suffix>
        <LNTooltip Placement="LuanNiao.Blazor.Component.Antd.PlacementType.Left">
            <Title>
                Extra information
            </Title>
            <ChildContent>
                <InfoCircleOutlined CStyle="color: 'rgba(0,0,0,.45)" />
            </ChildContent>
        </LNTooltip>
    </Suffix>
    </Input>


</div>


@code{


    private void OnChang(string msg)
    {
        _message.Show(new LuanNiao.Blazor.Component.Antd.Message.MessageItem()
        {
            Text = msg,
            MessageType = LuanNiao.Blazor.Component.Antd.Message.MessageItemType.Success
        });
    }

    private void OnEnter(string msg)
    {
        _message.Show(new LuanNiao.Blazor.Component.Antd.Message.MessageItem()
        {
            Text = msg,
            MessageType = LuanNiao.Blazor.Component.Antd.Message.MessageItemType.Error
        });
    }


    private void OnSearch(string msg)
    {
        _message.Show(new LuanNiao.Blazor.Component.Antd.Message.MessageItem()
        {
            Text = msg,
            MessageType = LuanNiao.Blazor.Component.Antd.Message.MessageItemType.Warning
        });
    }

}