@layout MainLayout
@page "/menu"
@using LuanNiao.Blazor.Component.Antd.Menu
@using LuanNiao.Blazor.Component.Antd.Icons
<HorizontalMenu>
    <SubMenu>
        <Title>
            <FlagFilled Spin="true"></FlagFilled>
            Submenu
        </Title>
        <ChildContent>
            <ItemGroup>
                <Title>
                    <AlibabaOutlined Spin="true"></AlibabaOutlined>
                    Submenu's group 1
                </Title>
                <ChildContent>
                    <MenuItem><BookFilled Spin="true"></BookFilled>G1 Item1</MenuItem>
                    <MenuDivider></MenuDivider>
                    <MenuItem><BookFilled Spin="true"></BookFilled>G1 Item2</MenuItem>
                </ChildContent>
            </ItemGroup>



            <ItemGroup>
                <Title>
                    <AlibabaOutlined Spin="true"></AlibabaOutlined>
                    Submenu's group 2
                </Title>
                <ChildContent>
                    <MenuItem><BookFilled Spin="true"></BookFilled>G2 Item1</MenuItem>
                    <MenuDivider></MenuDivider>
                    <MenuItem><BookFilled Spin="true"></BookFilled>G2 Item2</MenuItem>
                </ChildContent>
            </ItemGroup>


        </ChildContent>
    </SubMenu>
    <MenuItem><AccountBookFilled Spin="true"></AccountBookFilled> Single  menu item</MenuItem>
</HorizontalMenu>


