@layout MainLayout
@page "/radio"
@using LuanNiao.Blazor.Component.Antd.Radio
@using LuanNiao.Blazor.Component.Antd.Icons
@using LuanNiao.Blazor.Component.Antd.Button

<LuanNiao.Blazor.Component.Antd.Radio.Radio Checked="true">ClickRadio</LuanNiao.Blazor.Component.Antd.Radio.Radio>
<LuanNiao.Blazor.Component.Antd.Radio.Radio Checked="false">ClickRadio</LuanNiao.Blazor.Component.Antd.Radio.Radio>
<LuanNiao.Blazor.Component.Antd.Radio.Radio Disabled="@(disable)">Disbled</LuanNiao.Blazor.Component.Antd.Radio.Radio>
<LNButton Type="LNButton.BType.Primary" OnClickCallback="NumPlus">Toggle disabled</LNButton>
<a>@disable</a>
<div>--</div>
<RadioGroup Disabled="true">
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Checked="true" Value="1">a</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Value="2">b</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Value="3">c</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Value="4">d</LuanNiao.Blazor.Component.Antd.Radio.Radio>
</RadioGroup>
<RadioGroup>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Checked="true" Value="1">a</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Value="2">b</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Value="3">c</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Value="4">d</LuanNiao.Blazor.Component.Antd.Radio.Radio>
</RadioGroup>
<RadioGroup>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Disabled="true" CStyle="display: block; height: 30px; line-height: 30px;" Value="VA">a</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Checked="true" CStyle="display: block; height: 30px; line-height: 30px;" Value="VB">b</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Value="VC" CStyle="display: block; height: 30px; line-height: 30px;">c</LuanNiao.Blazor.Component.Antd.Radio.Radio>
    <LuanNiao.Blazor.Component.Antd.Radio.Radio Value="VD" CStyle="display: block; height: 30px; line-height: 30px;">d</LuanNiao.Blazor.Component.Antd.Radio.Radio>
</RadioGroup>
@code{
    private bool disable = true;
    private void NumPlus(LNButton _)
    {
        disable = !disable;
        this.StateHasChanged();
    }
}