@layout MainLayout
@page "/spin"

@using LuanNiao.Blazor.Component.Antd.Spin;
@using LuanNiao.Blazor.Component.Antd.Button;
@using LuanNiao.Blazor.Component.Antd.Icons;

<div class="box">
    <h3>Basic usage</h3>
    <LNSpin></LNSpin>
</div>

<div class="box">
    <h3>Size</h3>

    <LNSpin Size="LNSpin.SpinSize.Small"></LNSpin>
    <LNSpin></LNSpin>
    <LNSpin Size="LNSpin.SpinSize.Large"></LNSpin>
</div>


<div class="box">
    <h3>Spinning / Delay 1s</h3>
    <LNSpin Delay="1000"></LNSpin>
    <LNButton Type="LNButton.BType.Primary" OnClickCallback="OnToggleClick">Loading state</LNButton>
    <LNSpin Spining="@loading" Delay="1000"></LNSpin>
</div>

<div class="box">
    <h3>Customized description</h3>
    <LNSpin Spining="@loading" Tip="loading2">
        <LNButton Type="LNButton.BType.Primary">message box</LNButton>
    </LNSpin>
</div>
<div class="box">
    <h3>Custom spinning indicator</h3>
    <LNSpin CStyle="width:40px;">
        <Indicator>
            <LoadingOutlined CStyle="fontsize:24px;" Spin="true"></LoadingOutlined>
        </Indicator>
    </LNSpin>
</div>

@code{
    private bool loading;

    private void OnToggleClick(LNButton _)
    {
        loading = !loading;
        this.StateHasChanged();
    }

}