@layout MainLayout
@page "/tooltip"
@using LuanNiao.Blazor.Component.Antd.Tooltip
@using LuanNiao.Blazor.Component.Antd
@using LuanNiao.Blazor.Component.Antd.Button

<div style="height: 400px;margin-top: 100px;margin-left: 200px;">






    <div style="margin-left: 70px; white-space: nowrap;">

        <LNTooltip Placement="PlacementType.TopLeft">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Top Left</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


        <LNTooltip Placement="PlacementType.Top">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Top</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


        <LNTooltip Placement="PlacementType.TopRight">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Top Right</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


    </div>

    <div style="width: 70px; float: left;">
        <LNTooltip Placement="PlacementType.LeftTop">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Left Top</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


        <LNTooltip Placement="PlacementType.Left">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Left</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


        <LNTooltip Placement="PlacementType.LeftBottom">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Left Bottom</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>

    </div>

    <div style="width: 70px; margin-left: 304px;">
        <LNTooltip Placement="PlacementType.RightTop">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Right Top</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


        <LNTooltip Placement="PlacementType.Right">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Right</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


        <LNTooltip Placement="PlacementType.RightBottom">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Right Bottom</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>
    </div>

    <div style="margin-left: 70px; clear: both; white-space: nowrap;">
        <LNTooltip Placement="PlacementType.BottomLeft">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Bottom Left</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


        <LNTooltip Placement="PlacementType.Bottom">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Bottom</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>


        <LNTooltip Placement="PlacementType.BottomRight">
            <Title>
                <span>prompt text</span>
            </Title>
            <ChildContent>

                <LNButton>
                    <ChildContent>
                        <span>Bottom Right</span>
                    </ChildContent>
                </LNButton>
            </ChildContent>

        </LNTooltip>
    </div>


</div>
