@layout MainLayout
@page "/typography"

@using LuanNiao.Blazor.Component.Antd.Typography
@using LuanNiao.Blazor.Component.Antd.Icons;
@using  LuanNiao.Blazor.Component.Antd.Typography.Common
<Title>H1</Title>
<Title Level="2">H2</Title>
<Title Level="3">H3</Title>
<Title Level="4">H4</Title>
<br />
<Text>text</Text>
<br />
<Text Type="TypographyBase.TypographyMode.Disabled">Disabled</Text>
<br />
<Text Type="TypographyBase.TypographyMode.Danger">Danger</Text>
<br />
<Text Type="TypographyBase.TypographyMode.Warning">Warning</Text>
<br />
<Text Type="TypographyBase.TypographyMode.Secondary">Secondary</Text>
<br />
<Text Attribute="TypographyBase.TypographyAttribute.Mark">
    Mark
</Text>
<br />
<Text Attribute="TypographyBase.TypographyAttribute.Code">
    Code
</Text>
<br />
<Text Attribute="TypographyBase.TypographyAttribute.Underline">
    Underline
</Text>
<br />
<Text Attribute="TypographyBase.TypographyAttribute.Delete">
    Delete
</Text>
<br />
<Text Attribute="TypographyBase.TypographyAttribute.Strong">
    Strong
</Text>
<br />
<Paragraph>
    <Title Level="3">Level3</Title>
    dafdadfasdfsd
</Paragraph>
<Paragraph Copyable="true">
    <Icon>
        <CopyFilled></CopyFilled>
    </Icon>
    <ChildContent>
        Company
    </ChildContent>
</Paragraph>
<Paragraph Copyable="@(true)">
    <ChildContent>
        CopyNameadfadfasdf af
        <Text Attribute="TypographyBase.TypographyAttribute.Delete">
            Delete
        </Text>
        adfadf
    </ChildContent>
</Paragraph>



<Paragraph Copyable="@(true)" CustomText="(•́⌄•́๑)૭✧">
    <ChildContent>
        Copy custom Text
        <Text Attribute="TypographyBase.TypographyAttribute.Delete">
            Delete
        </Text>
    </ChildContent>
</Paragraph>